{% extends 'base.html' %} {% block title %} Grafik Perkembangan Page {% endblock %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Grafik</h1>

  <!-- Content Row -->
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <!-- Area Chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Grafik pH Air</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="Grafik ph Air"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <!-- Area Chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Grafik Kelembapan</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="Grafik Kelembapan"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <!-- Area Chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Grafik Suhu</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="Grafik Suhu"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <!-- Area Chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Grafik Nutrisi</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="Grafik Nutrisi"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
    (Chart.defaults.global.defaultFontFamily = "Nunito"), '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = "#858796";

    function number_format(number, decimals, dec_point, thousands_sep) {
      // *     example: number_format(1234.56, 2, ',', ' ');
      // *     return: '1 234,56'
      number = (number + "").replace(",", "").replace(" ", "");
      var n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = typeof thousands_sep === "undefined" ? "," : thousands_sep,
        dec = typeof dec_point === "undefined" ? "." : dec_point,
        s = "",
        toFixedFix = function (n, prec) {
          var k = Math.pow(10, prec);
          return "" + Math.round(n * k) / k;
        };
      // Fix for IE parseFloat(0.55).toFixed(0) = 0;
      s = (prec ? toFixedFix(n, prec) : "" + Math.round(n)).split(".");
      if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
      }
      if ((s[1] || "").length < prec) {
        s[1] = s[1] || "";
        s[1] += new Array(prec - s[1].length + 1).join("0");
      }
      return s.join(dec);
    }

    // Area Chart Example
    var ctx11 = document.getElementById("Grafik ph Air");
    var myLineChart11 = new Chart(ctx11, {
      type: "line",
      data: {
        labels: ["{{ dataGRAFIK[0]['TIME'] }}", "{{ dataGRAFIK[1]['TIME'] }}", "{{ dataGRAFIK[2]['TIME'] }}", "{{ dataGRAFIK[3]['TIME'] }}", "{{ dataGRAFIK[4]['TIME'] }}", "{{ dataGRAFIK[5]['TIME'] }}", "{{ dataGRAFIK[6]['TIME'] }}"],
        datasets: [
          {
            label: "pH : ",
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.05)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: ["{{ dataGRAFIK[0]['PH'] }}", "{{ dataGRAFIK[1]['PH'] }}", "{{ dataGRAFIK[2]['PH'] }}", "{{ dataGRAFIK[3]['PH'] }}", "{{ dataGRAFIK[4]['PH'] }}", "{{ dataGRAFIK[5]['PH'] }}", "{{ dataGRAFIK[6]['PH'] }}"],
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0,
          },
        },
        scales: {
          xAxes: [
            {
              time: {
                unit: "date",
              },
              gridLines: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                maxTicksLimit: 7,
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                maxTicksLimit: 5,
                padding: 10,
                // Include a dollar sign in the ticks
                callback: function (value, index, values) {
                  return value;
                },
              },
              gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2],
              },
            },
          ],
        },
        legend: {
          display: false,
        },
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: "#6e707e",
          titleFontSize: 14,
          borderColor: "#dddfeb",
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: false,
          mode: "index",
          caretPadding: 10,
          callbacks: {
            label: function (tooltipItem, chart) {
              var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || "pH : ";
              return datasetLabel + tooltipItem.yLabel;
            },
          },
        },
      },
    });

    var ctx12 = document.getElementById("Grafik Kelembapan");
    var myLineChart12 = new Chart(ctx12, {
      type: "line",
      data: {
        labels: ["{{ dataGRAFIK[0]['TIME'] }}", "{{ dataGRAFIK[1]['TIME'] }}", "{{ dataGRAFIK[2]['TIME'] }}", "{{ dataGRAFIK[3]['TIME'] }}", "{{ dataGRAFIK[4]['TIME'] }}", "{{ dataGRAFIK[5]['TIME'] }}", "{{ dataGRAFIK[6]['TIME'] }}"],
        datasets: [
          {
            label: "",
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.05)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: [
              "{{ dataGRAFIK[0]['KELEMBAPAN'] }}",
              "{{ dataGRAFIK[1]['KELEMBAPAN'] }}",
              "{{ dataGRAFIK[2]['KELEMBAPAN'] }}",
              "{{ dataGRAFIK[3]['KELEMBAPAN'] }}",
              "{{ dataGRAFIK[4]['KELEMBAPAN'] }}",
              "{{ dataGRAFIK[5]['KELEMBAPAN'] }}",
              "{{ dataGRAFIK[6]['KELEMBAPAN'] }}",
            ],
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0,
          },
        },
        scales: {
          xAxes: [
            {
              time: {
                unit: "date",
              },
              gridLines: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                maxTicksLimit: 7,
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                maxTicksLimit: 5,
                padding: 10,
                // Include a dollar sign in the ticks
                callback: function (value, index, values) {
                  return value + " %";
                },
              },
              gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2],
              },
            },
          ],
        },
        legend: {
          display: false,
        },
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: "#6e707e",
          titleFontSize: 14,
          borderColor: "#dddfeb",
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: false,
          mode: "index",
          caretPadding: 10,
          callbacks: {
            label: function (tooltipItem, chart) {
              var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || "Kelembapan : ";
              return datasetLabel + tooltipItem.yLabel + " %";
            },
          },
        },
      },
    });

    var ctx13 = document.getElementById("Grafik Suhu");
    var myLineChart13 = new Chart(ctx13, {
      type: "line",
      data: {
        labels: ["{{ dataGRAFIK[0]['TIME'] }}", "{{ dataGRAFIK[1]['TIME'] }}", "{{ dataGRAFIK[2]['TIME'] }}", "{{ dataGRAFIK[3]['TIME'] }}", "{{ dataGRAFIK[4]['TIME'] }}", "{{ dataGRAFIK[5]['TIME'] }}", "{{ dataGRAFIK[6]['TIME'] }}"],
        datasets: [
          {
            label: "",
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.05)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: ["{{ dataGRAFIK[0]['SUHU'] }}", "{{ dataGRAFIK[1]['SUHU'] }}", "{{ dataGRAFIK[2]['SUHU'] }}", "{{ dataGRAFIK[3]['SUHU'] }}", "{{ dataGRAFIK[4]['SUHU'] }}", "{{ dataGRAFIK[5]['SUHU'] }}", "{{ dataGRAFIK[6]['SUHU'] }}"],
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0,
          },
        },
        scales: {
          xAxes: [
            {
              time: {
                unit: "date",
              },
              gridLines: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                maxTicksLimit: 7,
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                maxTicksLimit: 5,
                padding: 10,
                // Include a dollar sign in the ticks
                callback: function (value, index, values) {
                  return value + " °C";
                },
              },
              gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2],
              },
            },
          ],
        },
        legend: {
          display: false,
        },
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: "#6e707e",
          titleFontSize: 14,
          borderColor: "#dddfeb",
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: false,
          mode: "index",
          caretPadding: 10,
          callbacks: {
            label: function (tooltipItem, chart) {
              var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || "Suhu : ";
              return datasetLabel + tooltipItem.yLabel + " °C";
            },
          },
        },
      },
    });

    var ctx14 = document.getElementById("Grafik Nutrisi");
    var myLineChart14 = new Chart(ctx14, {
      type: "line",
      data: {
        labels: ["{{ dataGRAFIK[0]['TIME'] }}", "{{ dataGRAFIK[1]['TIME'] }}", "{{ dataGRAFIK[2]['TIME'] }}", "{{ dataGRAFIK[3]['TIME'] }}", "{{ dataGRAFIK[4]['TIME'] }}", "{{ dataGRAFIK[5]['TIME'] }}", "{{ dataGRAFIK[6]['TIME'] }}"],
        datasets: [
          {
            label: "",
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.05)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: ["{{ dataGRAFIK[0]['EC'] }}", "{{ dataGRAFIK[1]['EC'] }}", "{{ dataGRAFIK[2]['EC'] }}", "{{ dataGRAFIK[3]['EC'] }}", "{{ dataGRAFIK[4]['EC'] }}", "{{ dataGRAFIK[5]['EC'] }}", "{{ dataGRAFIK[6]['EC'] }}"],
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0,
          },
        },
        scales: {
          xAxes: [
            {
              time: {
                unit: "date",
              },
              gridLines: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                maxTicksLimit: 7,
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                maxTicksLimit: 5,
                padding: 10,
                // Include a dollar sign in the ticks
                callback: function (value, index, values) {
                  return value;
                },
              },
              gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2],
              },
            },
          ],
        },
        legend: {
          display: false,
        },
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: "#6e707e",
          titleFontSize: 14,
          borderColor: "#dddfeb",
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: false,
          mode: "index",
          caretPadding: 10,
          callbacks: {
            label: function (tooltipItem, chart) {
              var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || "EC : ";
              return datasetLabel + tooltipItem.yLabel;
            },
          },
        },
      },
    });
  </script>
</div>

{% endblock %}
