{% extends 'base.html' %} {% block title %} Blank Page {% endblock %} {% block content %}

<h1 class="h3 mb-4 text-gray-800">Control Page</h1>

<div class="container-fluid">
  <!-- Page Heading -->

  <div class="row">
    <div class="col-lg-12">
      <!-- Circle Buttons -->
      <div class="card shadow mb-auto">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Control Menu</h6>
        </div>

        <div class="card-body p-3">
          <div class="row">
            <div class="col-lg-6">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitches" />
                <label class="custom-control-label" for="customSwitches">Auto Control</label>
              </div>

              <div class="d-grid gap-2 p-3"></div>
              <div class="row g-3"></div>
              <div class="col-lg-3 col-sm-6 col-12">
                <a href="/humidifierON" id="ButtonONhumidifier"><button class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">ON</button></a>
                <a href="/humidifierOFF" id="ButtonONhumidifier"><button class="btn btn-outline-warning">OFF</button></a>
              </div>
            </div>

            <div class="col-lg-6">
              <!--Nilai Input EC-->
              <label class="visually-hidden">Input Values EC</label>
              <div class="row">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-text">EC</span>
                    <input type="number" min="0" max="2" class="form-control" placeholder="Min EC" />
                    <input type="number" min="2" max="5" class="form-control" placeholder="Max EC" />
                    <div class="col-lg-3 col-sm-6 col-12 mt-lg-0 mt-2">
                      <button class="btn btn-outline-success">OK</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--Nilai Input pH-->
              <label class="visually-hidden" for="nilai PH">Input Values pH </label>
              <div class="input-group">
                <div class="input-group-text">pH</div>
                <input type="number" min="0" max="2" class="form-control" id="nilai PH" placeholder="Min pH" />
                <input type="number" min="2" max="5" class="form-control" id="nilai PH" placeholder="Max pH" />
                <div class="col-lg-3 col-sm-6 col-12 mt-lg-0 mt-2">
                  <button class="btn btn-outline-success">OK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body p-3">
    <div class="row">
      <div class="col-lg-3">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category text-primary">Manual Control</h5>
          </div>
          <div class="card-body">
            <img src="{{ url_for('static',filename='img/fan.png') }}" class="img-fluid" alt="Cinque Terre" />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div>
            <h3 class="text-center">Fan</h3>
            <div class="chart-area">
              <div class="col-6 mx-auto">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="fan" onclick="fungsiKIPAS()" />
                  <label class="custom-control-label" for="fan">Fan Button</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category text-primary">Manual Control</h5>
          </div>
          <div class="card-body">
            <img src="{{ url_for('static',filename='img/lamp.png') }}" class="img-fluid" alt="Cinque Terre" />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div>
            <h3 class="text-center">Growlight</h3>
            <div class="chart-area">
              <div class="col-6 mx-auto">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="lamp" onclick="fungsiLAMPU()" />
                  <label class="custom-control-label" for="lamp">Growlight Button</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category text-primary">Manual Control</h5>
          </div>
          <div class="card-body">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div>
            <img src="{{ url_for('static',filename='img/waterpump2.png') }}" class="img-fluid" alt="Cinque Terre" />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div>
            <h3 class="text-center">Water Pump</h3>
            <div class="chart-area">
              <div class="col-6 mx-auto">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="waterpump" onclick="fungsiPOMPA()" />
                  <label class="custom-control-label" for="waterpump">waterpump Button</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category text-primary">Manual Control</h5>
          </div>
          <div class="card-body">
            <img src="{{ url_for('static',filename='img/humidifier.png') }}" class="img-fluid" alt="Cinque Terre" />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div>
            <h3 class="text-center">Humidifier</h3>
            <div class="chart-area">
              <div class="col-6 mx-auto">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="humidifier" onclick="fungsiHUMIDIFIER()" />
                  <label class="custom-control-label" for="humidifier">Humidifier Button</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function fungsiHUMIDIFIER() {
    // Get the checkbox

    var swHUMIDIFIER = document.getElementById("humidifier");
    localStorage.setItem("humidifier", swHUMIDIFIER.checked);
    if (swHUMIDIFIER.checked == true) {
      $.getJSON("/humidifierON", function (data) {
        //do nothing
      });
    } else {
      $.getJSON("/humidifierOFF", function (data) {
        //do nothing
      });
    }
  }

  function fungsiLAMPU() {
    // Get the checkbox
    var swLAMP = document.getElementById("lamp");
    localStorage.setItem("lamp", swLAMP.checked);
    if (swLAMP.checked == true) {
      $.getJSON("/lampuON", function (data) {
        //do nothing
      });
    } else {
      $.getJSON("/lampuOFF", function (data) {
        //do nothing
      });
    }
  }

  function fungsiKIPAS() {
    // Get the checkbox
    var swFAN = document.getElementById("fan");
    localStorage.setItem("fan", swFAN.checked);
    if (swFAN.checked == true) {
      $.getJSON("/kipasON", function (data) {
        //do nothing
      });
    } else {
      $.getJSON("/kipasOFF", function (data) {
        //do nothing
      });
    }
  }

  function fungsiPOMPA() {
    // Get the checkbox
    var swWATERPUMP = document.getElementById("waterpump");
    localStorage.setItem("waterpump", swWATERPUMP.checked);
    if (swWATERPUMP.checked == true) {
      $.getJSON("pompaON", function (data) {
        //do nothing
      });
    } else {
      $.getJSON("/pompaOFF", function (data) {
        //do nothing
      });
    }
  }

  function load() {
    var checked = JSON.parse(localStorage.getItem("humidifier"));
    var checked2 = JSON.parse(localStorage.getItem("lamp"));
    var checked3 = JSON.parse(localStorage.getItem("fan"));
    var checked4 = JSON.parse(localStorage.getItem("waterpump"));
    document.getElementById("humidifier").checked = checked;
    document.getElementById("lamp").checked = checked2;
    document.getElementById("fan").checked = checked3;
    document.getElementById("waterpump").checked = checked4;
  }
</script>
{% endblock %}
