{% extends 'base.html' %} {% block title %} Record Table Page {% endblock %} {% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-2 text-gray-800">Halaman Tabel Riwayat</h1>
  <a id="buttons" class="d-none d-block btn btn-sm btn-success shadow-sm button_export_excel" href="/excelDownload"><i class="fas fa-download fa-sm text-white-50"></i> Download Data</a>
</div>

<!-- DataTables Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-secondary">Data Smart Mini Greenhouse</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="tabelriwayat" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Ph Air</th>
            <th>Kelembapan</th>
            <th>Suhu</th>
            <th>Nutrisi</th>
          </tr>
        </thead>
        <tbody>
          {% for row in dataRECORD %}
          <tr>
            <td>{{ row['_id'] }}</td>
            <td>{{ row['DATE'] }}</td>
            <td>{{ row['TIME'] }}</td>
            <td>{{ row['PH'] }}</td>
            <th>{{ row['KELEMBAPAN'] }}</th>
            <th>{{ row['SUHU'] }}<sup>o</sup></th>
            <th>{{ row['EC'] }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script></script>
<!-- Bootstrap core JavaScript-->

{% endblock %}

<!-- /.container-fluid -->
